<?xml version='1.1' encoding='UTF-8'?>
<flow-definition plugin="workflow-job@2.39">
  <actions/>
  <description></description>
  <keepDependencies>false</keepDependencies>
  <properties/>
  <definition class="org.jenkinsci.plugins.workflow.cps.CpsFlowDefinition" plugin="workflow-cps@2.80">
    <script>node(){
    // stage(&apos;Cleaning Workspace&apos;) {
    //       cleanWs()
    // }
  stage(&apos;Setting the variables values&apos;) {
            
             sh &apos; ls -la&apos;
             sh &apos;su ubuntu&apos; 
             sh &apos;pwd&apos;
    
}
}    
   </script>
    <sandbox>true</sandbox>
  </definition>
  <triggers/>
  <disabled>false</disabled>
</flow-definition>